:root, button, input {
	font-size: 18px;
}

body {
	background: #f3f3f3;
	width: 80%;
	margin: 50px auto ;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

hr {
	margin: 50px auto;
	max-width: 150px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.excercise {
	position: relative;
	padding: 30px;
	background: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.late:after {
	position: absolute;
	top: -10px;
	right: -10px;
	content: "Late Addition";
	color: white;
	border-radius: 50px;
	padding: 5px 15px;
	background: #CC3300;
}

h2 {
	margin-top: 0;
}